/* Add your CSS code below */
a {
  color: red;
  font-weight: bold;
}

.message__time {
  font-size: 0.9rem;
}

.message--unread {
  border-left: 4px solid blue;
}

.message__time--old {
  opacity: 0.5;
}

.message__content {
  line-height: 2rem;
}
